body{
background-color: gray;
}
button{
    width: 50%;
    height: 40px;
}
.main{
    background-color: white;
    border: 2px solid black;
    width: 30%;
}
.btn1{
     background-color:lightslategrey;
     color: white;
}
.btn2{
    background-color: gray;  
}
.btn3{
    background-color: gray;  
}
.btn4{
    background-color: gray;  
}
.name{
    color: red;
}
.hasnain{
    color: green;
}